
.product-card .imagen {
  height: 30vh;
  object-fit: contain;
}


.product-card .button-discount {
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .product-card .button-favorite {
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
  }

  .link-no-decoration {
    text-decoration: none;
  }